.petStoreHome{
    display: flex;
}

.productContainer{
    display: flex;
    width: 100%;
    padding: 10px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.filters{
    background-color: #343a40;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: 10px;
    justify-content: space-between;
}

.filters>span{
    padding-bottom: 20px;
}

.filterTitle{
    font-size: 20px;
}

.products{
    width: 25%;
    margin: 10px;
}

