.raiseConflict {
    transform: translateX(20%);
    background-color: #f0cf95;
    border-radius: 3px;
    border: 1px solid #c7af7a;
    box-shadow: rgba(255, 255, 255, .7) 0 1px 0 0 inset;
    box-sizing: border-box;
    color: #22180a;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.15385;
    margin: 0;
    width: 90%;
    height: 50px;
    outline: none;
    padding: 8px .8em;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    white-space: nowrap;
  }
  
  .raiseConflict:hover,
  .raiseConflict:focus {
    background-color: #ead7b3;
    color: #77592c;
  }
  
  .raiseConflict:focus {
    box-shadow: 0 0 0 4px rgba(255, 115, 0, 0.15);
  }
  
  .raiseConflict:active {
    background-color: #e4c9a0;
    box-shadow: none;
    color: #86591e;
  }

  .notSolved {
    background-color: rgb(255, 200, 97);
  }

  .conflictForm {
    display: none;
  }

  .conflictForm input {
    width: 150px;
    height: 50px;
  }